# This is an example. Please, paste your own creds, if needed.

# MySQL properties
DB_MS_USERNAME=root
DB_MS_PASSWORD=1234
DB_MS_SCHEMA_NAME=users_schema

# Admin properties initialize
MAIN_ADM_FIRSTNAME=admin
MAIN_ADM_LASTNAME=admin
MAIN_ADM_EMAIL=admin@mail.com
MAIN_ADM_PASSWORD=1234
MAIN_ADM_AGE=18