# Database Configuration
DB_MS_USERNAME=your_mysql_db_username
DB_MS_PASSWORD=your_mysql_db_password
DB_MS_SCHEMA_NAME=your_mysql_db_schema_name

# Admin properties initialize
MAIN_ADM_FIRSTNAME=
MAIN_ADM_LASTNAME=
MAIN_ADM_EMAIL=
MAIN_ADM_PASSWORD=
MAIN_ADM_AGE=