<div th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="col-md-1 d-none d-md-block sidebar py-3 px-0" style="width: 280px;">
        <div class="sidebar-sticky">
            <ul class="nav nav-pills flex-column mb-auto">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="showAdminContent()">
                        Admin
                    </a>
                </li>
                <li sec:authorize="hasRole('USER')" class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="showUserContent()">
                        User
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>