<div th:fragment="user-content">
    <div class="container mt-4">
        <h1>User information-page</h1>
        <div class="card">
            <h5 class="card-header">About user</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${user?.id}"></td>
                            <td th:text="${user?.firstName}"></td>
                            <td th:text="${user?.lastName}"></td>
                            <td th:text="${user?.age}"></td>
                            <td th:text="${user?.email}"></td>
                            <td th:text="${#strings.arrayJoin(user?.roles, ' ')}" class="user-roles"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>