<th:block th:fragment="scripts">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        const userRoles = /*[[${#authentication?.principal?.authorities}]]*/ [];

        function showAdminContent() {
            document.getElementById("admin-content").style.display = "block";
            document.getElementById("user-content").style.display = "none";
        }

        function showUserContent() {
            document.getElementById("user-content").style.display = "block";
            document.getElementById("admin-content").style.display = "none";
        }

        document.addEventListener("DOMContentLoaded", function() {
            if (userRoles.includes("ROLE_ADMIN")) {
                showAdminContent();
            } else {
                showUserContent();
            }
        });
    </script>

</th:block>