<div th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" id="sidebar">
    <nav class="col-md-1 d-none d-md-block sidebar py-3 px-0" style="width: 280px;">
        <div class="sidebar-sticky">
            <ul class="nav nav-pills flex-column mb-auto">
                <li ></li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:onclick="'showAdminContent()'"
                       th:classappend="${#httpServletRequest.requestURI == '/admin/admin' ? 'active' : ''}">
                        Admin
                    </a>
                </li>
                <li sec:authorize="hasRole('USER')" class="nav-item">
                    <a class="nav-link" th:onclick="'showUserContent()'"
                       th:classappend="${#httpServletRequest.requestURI == '/user' ? 'active' : ''}">
                        User
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>